/* global variables */
:root {
  /* Small screens are defined as having a max-width of 600px 
		 Medium screens are defined as having a max-width of 992px 
		 Large screen are defined as having a min-width of 993px 
		 Extra Large screen are defined as having a min-width of 1200px
  */
  /* Font families */
  --ff-header: 'Shrikhand';
  --ff-subhead: 'Press Start 2P';
  --ff-p: 'Raleway';
  --ff-p-alt: 'Montserrat';

  /* Font sizes */
  --fs-header: 15vw;
  --fs-subhead: 2.2vw; /* Specifically for the huge Press Start 2P text */
  --fs-p: 2vw;
  --fs-p-alt: 1.75vw;
  --fs-nav: 2.2vh;
  --fs-menu: 3vh;

  /* old vars */
  /* Main Colors */
  --brown: #35322a;
  --teal: #3f5e5a;
  --steel: #687c7c;
  --orange: #a3320b;
  --tan: #efc88b;

  /* Main Colors, Semi-transparent @ cc */
  --browns: rgba(53, 50, 42, 0.85);
  --teals: rgba(63, 94, 90, 0.85);
  --steels: rgba(104, 124, 125, 0.85);
  --oranges: rgba(163, 50, 11, 0.85);
  --tans: rgba(239, 200, 139, 0.85);

  /* Font Stylings */
  --font-p-weight: 600;
  --font-text-width: 800px;
  --font-p-spacing: 1.3px;

  /* backgrounds */
  --bg-card: url('../assets/images/paper-bg.jpg');

  /* Shadowing */
  --title-shadow: 4px 4px 3px var(--col-steel), 8px 8px 3px var(--col-teal),
    12px 12px 3px var(--col-brown);
  --project-box-shadow: 4px 4px 3px var(--col-steel),
    8px 8px 3px var(--col-orange), 12px 12px 3px var(--col-brown);
}

body {
  /* hides horizontal overflow in parallax containers */
  overflow-x: hidden;
}
/* Header page */

.landing-page {
  height: 91vh !important;
}

.header-container {
  margin-top: 15vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.header {
  font-size: var(--fs-header);
  font-family: var(--ff-header);
  text-align: center;
  width: 100vw;
  background-color: rgba(39, 11, 163, 0.4);
}

.sub-head {
  font-size: var(--fs-subhead);
  font-family: var(--ff-subhead);
  text-align: center;
  width: 85vw;
  /* margin-right: 15vw; */
  background-color: rgba(163, 50, 11, 0.40);
}

.fa-chevron-down {
  /* margin-top: 30vh; */
  font-size: 4vh;
  align-self: flex-end;
  /* margin-top: -15vh; */
  text-align: center;
  width: 100vw;
  background-color: rgba(16, 163, 11, 0.4);
}

/* NavBar */
.fixed-nav {
  height: 10vh;
}

.nav-logo {
  margin-left: 2vw;
}

.nav-link {
  font-size: var(--fs-nav);
}

.menu-button {
  margin-right: 2vw;
  font-size: var(--fs-menu);
}
