.fifth-level {
  height: 12vh !important;
  background-color: var(--col-brown);
  color: var(--col-orange);
  font-family: 'Shrikhand', cursive;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: var(--font-p-size-xs);
}

.fifth-level .copy {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 5px;
}

.fifth-level .with-love {
  font-family: 'Press Start 2P', cursive;
  margin-top: 5px;
}

@media screen and (min-width: 64em) {
  .fifth-level {
    height: 10vh !important;
  }
}
