.second-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Raleway';
  font-weight: var(--font-p-weight);
  text-align: center;
  padding: 10vh 20px 0 20px;
  background-color: var(--col-steel-semi);
}

.second-level h2 {
  font-size: 2.9vh;
  color: var(--col-brown);
  font-family: 'Shrikhand';
}

.second-level img {
  width: 35vh;
  border: 1px solid transparent;
  border-radius: 100px;
  -webkit-box-shadow: 4px 4px 1px var(--col-orange),
    8px 8px 2px var(--col-brown), -4px -4px 1px var(--col-orange),
    -8px -8px 2px var(--col-brown);
  box-shadow: 4px 4px 1px var(--col-orange), 8px 8px 2px var(--col-brown),
    -4px -4px 1px var(--col-orange), -8px -8px 2px var(--col-brown);
}

@media screen and (min-width: 35.5em) {
  /* small and up */
}

@media screen and (min-width: 48em) {
  /* medium and up */
}

@media screen and (min-width: 64em) {
  /* large and up */
}

@media screen and (min-width: 80em) {
  /* large and up */
}
