<a href='http://www.linkedin.com/in/{{ site.linkedin_username }}' target="_blank" class='{% if {{include.dropdown}} %} dropdown-item {% endif %}'>
  <i class='fab fa-linkedin'></i> LinkedIn</a>
<a href='http://www.github.com/{{site.github_username}}' target="_blank" class='{% if {{include.dropdown}} %} dropdown-item {% endif %}'>
  <i class='fab fa-github-square'></i> GitHub</a>
<a href='http://www.twitter.com/{{site.twitter_username}}' target="_blank" class='{% if {{include.dropdown}} %} dropdown-item {% endif %}'>
  <i class='fab fa-twitter-square'></i> Twitter</a>
<a href='tel:{{site.phone}}' target="_blank" class='{% if {{include.dropdown}} %} dropdown-item {% else %} contact-link {% endif %}'>
  <i class='fas fa-phone-square'></i> Phone</a>
<a href='mailto:{{site.email}}' target="_blank" class='{% if {{include.dropdown}} %} dropdown-item {% endif %}'>
  <i class='fas fa-envelope'></i> Email</a>
