<footer class="site-footer bg-dark">
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h2 class="footer-heading  text-primary">{{ site.title | escape }}</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col text-primary'>
        {{ site.description | escape }}
      </div>
    </div>
    <div class='row contact-links'>
      <a href='http://www.linkedin.com/in/{{ site.linkedin_username }}' target="_blank" class='contact-link'>
        <i class='fab fa-linkedin'></i>LinkedIn</a>
      <a href='' target="_blank" class='contact-link'>
        <i class='fab fa-github-square'></i>GitHub</a>
      <a href='' target="_blank" class='contact-link'>
        <i class='fab fa-twitter-square'></i>Twitter</a>
      <a href='' target="_blank" class='contact-link'>
        <i class='fas fa-phone-square'></i>Phone</a>
    </div>
  </div>
