<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!-- Google Fonts and Such -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Shrikhand|Raleway|Roboto" rel="stylesheet"> {% feed_meta %}
</head>
