<nav class='navbar navbar-expand-sm navbar-light bg-secondary'>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class='navbar-nav ml-auto'>
      <li class='nav-item'>
        <a href='{{site.baseurl}}' class={% if page.name=='index.md' %} "nav-link active" {% else %} "nav-link" {% endif %}>Home</a>
      </li>
      <li class='nav-item'>
        <a href='{{site.baseurl}}/blog' class={% if page.name=='blog.md' %} "nav-link active" {% else %} "nav-link" {% endif %}>Blog</a>
      </li>
      <li class='nav-item'>
        <a href='{{site.baseurl}}/projects' class={% if page.name=='projects.md' %} "nav-link active" {% else %} "nav-link" {% endif
          %}>Projects</a>
      </li>
      <li class='nav-item'>
        <button id="contact" class="nav-link">Contact</button>
      </li>
    </ul>
  </div>
</nav>
