<nav class='navbar navbar-expand-sm navbar-light bg-secondary'>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <div class='navbar-nav ml-auto'>
      <a href='/' class="{% if layout.type=='profile' %}active{% endif %} nav-link nav-item">Home</a>
      <a href='/blog' class="{% if layout.type=='blog' %}active{% endif %} nav-link nav-item">Blog</a>
      <a href='/projects' class="{% if layout.type=='project' %}active{% endif %} nav-link nav-item">Projects</a>
      <a id="contact" class="nav-link">Contact</a>
    </div>
  </div>
</nav>

{% comment %} {% if include.blog==true %}
<div class='branding'>{{ layout.title }}</div>
{% endif %} {% endcomment %}
