// color change
$orange: #ff8700;
$blog: $orange;

// Custom font size
$fs-header: calc(6vw + 4vh);
$fs-subheader: calc(1vw + 1vh);
$fs-section-header: calc(3.2vw + 1.6vh);
// $fs-paragraph: calc(1.2vw + 0.9vh);
$fs-paragraph: calc(0.5em + 0.5vw + 1vh);
$fs-project: calc(1.9vw + 1.3vh);
$fs-blog-header: calc(0.9em + 1vw + 1vh);
$fs-blog-date: calc(0.1em + 0.3vw + 1vh);
$fs-blog-paragraph: calc(0.2em + 0.25vw + 1vh);
$fs-blog-subheader: calc(0.5em + 0.3vw + 1vh);

// enable gradients
$enable-gradients: true;

// font change
$shrikhand: "Shrikhand", cursive;
$raleway: "Raleway", sans-serif;
$ps2p: "Press Start 2P", monospace;
$roboto: "Roboto", sans-serif;

@import "../assets/vendor/bootstrap/scss/bootstrap.scss";
