// color change
$orange: #ff8700;
$blog: $orange;

// Custom font size
$fs-header: calc(6vw + 4vh);
$fs-subheader: calc(1vw + 1vh);
$fs-section-header: calc(3.2vw + 1.6vh);
$fs-paragraph: calc(1.4vw + 1.1vh);

// enable gradients
$enable-gradients: true;

// font change
$shrikhand: "Shrikhand";
$raleway: "Raleway";
$ps2p: "Press Start 2P";

@import "../assets/vendor/bootstrap/scss/bootstrap.scss";
