.fourth-level .pure-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
}

.fourth-level .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 46vh;
  margin: 20px 15px 20px 5px;
  background-color: var(--col-teal-semi);
  overflow: auto;
  color: var(--col-brown);
  box-shadow: var(--project-box-shadow);
}

.fourth-level h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2vh;
}

.fourth-level h2 {
  font-family: 'Shrikhand', monospace;
  font-size: 8.5vw;
  padding: 0 7px;
}

.fourth-level .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fourth-level .project-links a {
  border-bottom: 2px solid #a3320b;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: var(--color-tan);
  font-size: var(--font-p-size);
}

.fourth-level .project-links a:visited {
  color: var(--color-tan);
}

.fourth-level .project1 {
  background-image: url('../../assets/images/hanoi-sm.png');
  background-size: cover;
}

.fourth-level .project2 {
  background-image: url('../../assets/images/motto-track.png');
  background-size: cover;
}

.fourth-level .project3 {
  /* pic goes here */
  background-size: cover;
}

.fourth-level .project4 {
  /* pic goes here */
  background-size: cover;
}

.fourth-level .project-text {
  background-color: var(--col-teal-semi);
  height: 100%;
  padding: 2vw;
}

@media screen and (min-width: 25em) {
  /* small and up */
  .fourth-level h2 {
    font-size: 8.5vw;
  }
}

@media screen and (min-width: 35.5em) {
  /* small and up */
  .fourth-level h2 {
    font-size: 7vw;
  }
}

@media screen and (min-width: 48em) {
  /* medium and up */
  .fourth-level h2 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 64em) {
  /* large and up */

  .fourth-level {
    margin-top: 30vh !important;
    height: 120vh !important;
  }
  .fourth-level .project {
    margin: 2vh 2vw;
    width: 40vw;
    height: 45vh !important;
  }

  .fourth-level h2 {
    font-size: 3vw;
  }

  .fourth-level p {
    font-size: var(--font-p-size);
  }
  /* style="margin-top:70vh; height:220vh;" */
}
