---

---

@import "../_sass/_variables.scss";

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.page-content {
  background-color: $white;
  margin-bottom: 20em;
  padding-bottom: 5em;

  // img {
  //   max-height: 15vh;
  // }
}

.section-header {
  border-bottom: 2px solid grey;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-img {
  max-width: 90vw;;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    // border: 2px solid blue;
    max-width: 25em;
    min-height: 18em;
    margin: 2em 0.5em;
    padding: 0.5em;
    border: 1px solid $orange;

  }

  img {
    max-height: 8em;
    width: auto;
  }
  
}

.page-img {
  display: flex;
  justify-content: center;
  img {
    max-height: 12em;
    margin: 0 1em;
  }
}

.navbar-brand {
  font-family: $custom-header-font;
}

.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20em;
  z-index: -1;
  opacity: 0.99;

  .container {
    margin-top: 2em;
    height: 10em;
  }

  .contact-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }

  a {
    color: white;
    margin: 1em 1em 0 0;
  }
  
  h2 {
    font-family: $custom-header-font;
  }
}





