---

---

@import "../_sass/_variables.scss";

// prevents terrible rendering on very small viewports
.hidden {
  @media screen and (min-width: 320px) {
    display: none;
  }
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    padding: 0 5px;
  }
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}

.page-content {
  background-color: $white;
  margin-bottom: 20em;
  padding-bottom: 5em;
}

.hero-image {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-image: url({{site.home_page.hero_image}});
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}


// SASS for common site footer

.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20em;
  z-index: -1;
  opacity: 0.99;

  .container {
    margin-top: 2em;
    height: 10em;
  }

  .contact-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }

  a {
    color: white;
    margin: 1em 1em 0 0;
  }
  
  h2 {
    font-family: $shrikhand;
  }
}





