---

---

@import "../_sass/_variables.scss";

// _prevents_ terrible rendering on very small viewports
.hidden {
  @media screen and (min-width: 320px) {
    display: none;
  }
  display: block;
  min-height: 1000vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  h2 {
    padding: 0 5px;
  }
}

// basic body requirements
body {
  font-family: $raleway;
  p {
    font-family: $roboto;
    font-size: $fs-paragraph;
  }
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100%;
  .page-content {
    width: 100vw;
    margin-bottom: 25em;
    padding-bottom: 5em;
  }

  main {
    height: 100%;
  }
}

// navbar width fix
.navbar {
  width: 100vw;
}

// landing page
.hero-image {
  height: 92vh;
  width: 100vw;
  z-index: 2;
  background: url('{{site.home_page.hero_image}}') no-repeat center top;
  background-size: cover;
  // flex settings
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    margin: 20vh 10vw 0 0;
    display: flex;
    flex-flow: column nowrap;
    .main-headers {
      text-align: center;
      text-shadow: 3px 3px grey, 6px 6px black;
      h1 {
        font-size: $fs-header;
        font-family: $shrikhand;
      }
      h2 {
        font-size: $fs-subheader;
        font-family: $ps2p;
      }
    }
  }
  .divider {
    width: 25%;
    height: 2vh;
    border-bottom: 3px solid white;
    align-self: center;
    margin-bottom: 2vh;
  }
  .btn {
    align-self: center;
  }
}

// about me page
.about-me {
  height: 100vh;
  width: 100vw;
  @media screen and (min-width: 600px) {
    section {
      flex-flow: row nowrap;
      img {
        border-radius: 40px;
        max-height: 60vh;
      }
      div {
        margin: 2vh 0;
        text-align: center;
      }
    }
  }
  section {
    padding: 3vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    img {
      border-radius: 40px;
      max-height: 40vh;
      max-width: 100vw;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      margin: 2vh 0;
      text-align: center;
    }
    h2 {
      max-width: 20em;
      font-size: $fs-section-header;
    }
  }
}

// Page detailing my work
.my-work {
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  div {
    z-index: 2;
    margin: 2vh 2vw;
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    a {
      @media screen and (min-width: 600px){
        opacity: 0;
      }
      opacity: 0.5;
      background-color: #000;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      z-index: 2;
      span {
        font-size: $fs-project;
        font-weight: bolder;
      }
      &:hover {
        cursor: pointer;
      }
      &:after {
        text-decoration: none;
      }
    }
  }
  .projects {
    background: url('{{site.my_work.project_image}}') no-repeat center top;
    background-size: cover;
  }
  .blog {
    background: url('{{site.my_work.blog_image}}') no-repeat center top;
    background-size: cover;
  }
}

// Branding on blog site
// .branding {
//   display: none;
//   position: absolute;
//   top: 5vh;
//   left: 28vw;
//   width: 44vw;
//   height: 8vh;
//   background-color: $secondary;
//   color: $light;
//   border: 3px solid $dark;
//   border-radius: 0 0 30px 30px;
//   font-family: $shrikhand;
//   font-size: $fs-project;
//   text-align: center;
// }

// blog post listing styles
.blog {
  color: $light;
  margin-top: 5vh;

  .post {
    margin-bottom: 4vh;
    font-size: $fs-blog-paragraph;

    h2 {
      font-size: $fs-blog-header;
    }

    h4 {
      font-size: $fs-blog-subheader;
    }

    h6 {
      font-size: $fs-blog-date;
      text-transform: uppercase;
      font-family: $roboto;
      color: grey;
    }

    p {
      flex-grow: 1;
      font-family: $roboto;
      
    }
  }

  a {
    
    text-decoration: none;
    &:link {
      text-decoration: none;
      color: $light;
    }
    &:hover {
      text-decoration: none;
      color: $secondary;
      cursor: pointer;

    }
    &:visited {
      text-decoration: none;
      color: $light;
    }
  }

  .img-excerpt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    div:nth-child(1) {
      margin: 1vh 1vw 0 0;
      a {
        text-decoration: underline;
      }
    }

    div:nth-child(2) {
      min-width: 20vw;
      flex-basis: 20vw;
      display: flex;
      justify-content: center;
      margin: 1vh 1vw;
      
      a {
        width: auto;
      }

      img {
        max-width: 28vw;
        max-height: 13vh;
      }
    }
    @media screen and (min-width: 600px) {
      flex-flow: row nowrap;
      div:nth-child(2) {
        width: 80vw;
        flex-grow: 2;
        border-left: 2px solid $secondary;
        img {
          max-width: 16vw;
          max-height: 13vh;
        }
      }
    }
  }

  .divider {
    border-bottom: 2px solid $secondary;
  }
}

// blog post individual styles
.blog-post {
  color: $light;
  margin-top: 8vh;
  .jumbotron {

  }
  .page-img {
    display: flex;
    justify-content: center;
    img {
      max-height: 12em;
      margin: 0 1em;
      // spreads out images
    }
  }
  .section-header {
    border-bottom: 2px solid $secondary;
  }
}

// SASS for common site footer
.site-footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 25em;
  z-index: -1;
  opacity: 0.99;
  text-align: center;

  * {
    border: 1px solid white;
  }

  .container {
    margin-top: 1em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 2em;
  }

  a {
    color: $light;
    margin: 1em 1em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-left: 0.75em;
    }
  }

  h2 {
    font-size: $fs-section-header;
    font-family: $shrikhand;
  }

  p {
    max-width: 37.5em;
    text-align: center;
  }

  .btn {
    font-size: $fs-blog-paragraph;
  }
}
