---

---

@import "../_sass/_variables.scss";

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.page-content {
  background-color: $white;
  margin-bottom: 20em;
  padding-bottom: 5em;
}

.hero-image {
  height: 100vh;
  background: url({{site.home_page.hero_image}}) cover no-repeat;
}


// SASS for common site footer

.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20em;
  z-index: -1;
  opacity: 0.99;

  .container {
    margin-top: 2em;
    height: 10em;
  }

  .contact-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }

  a {
    color: white;
    margin: 1em 1em 0 0;
  }
  
  h2 {
    font-family: $shrikhand;
  }
}




