--- 
layout: default
type: blog
title: PixelRabbit's Ponderings
description: A blog dedicated to one <del>rabbit</del> person learning as much as he possibly can.
---

{% include header.html  blog=true %}


<div class='blog'>
  {{ content }} {% if site.posts.size > 0 %} {% assign date_format = "%A - %b %d, %Y" %} {% for post in site.posts %}
  <div class='post container'>
    <a href='{{ post.url | relative_url }}'>
      <h2>{{post.title | escape }}</h2>
    </a>
    <a href='{{ post.url | relative_url }}'>
      <h4>{{ post.subtitle | escape }}</h4>
    </a>
    <h6>{{ post.date | date: date_format }}</h6>
    <div class='img-excerpt'>
      {% if site.show_excerpts %}
      <div>
        <p>{{ post.excerpt }}</p>
      </div>
      {% endif %} {% if post.img %}
      <div>
        <a href='{{ post.url | relative_url }}'>
          <img src="{{ post.img }}" alt="{{ post.title | escape }}">
        </a>
      </div>
      {% endif %}
    </div>
    <div class='divider container'></div>
  </div>
  {% endfor %} {% endif %}
</div>

{% include footer.html title=layout.title description=layout.description%}
