<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

  {% include head.html %}

  <body>

    <div class="content-cover hidden">
      <h2>Viewport to small for content. Please view on a larger device.</h2>
    </div>
    <main class="page-content bg-dark">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Bootstrap locations -->
    <script src="{{ site.baseurl }}/assets/vendor/jquery.slim.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/anime.min.js"></script>


    <script>
      document.querySelectorAll("#contact").forEach(function (item) {
        item.addEventListener("click", function () {
          contactEasing()
        })
      })

      function easingFunction(query) {
        anime({
          duration: 1000,
          targets: "html, body",
          scrollTop: [window.pageYOffset, document.querySelector(query).offsetTop],
          easing: 'easeInOutSine'
        })
      }

      function contactEasing() {
        anime({
          duration: 1000,
          targets: "html, body",
          scrollTop: $(document).height(),
          easing: 'easeInOutSine'
        })
      }
    </script>
  </body>

</html>
